.home{
  min-height: 100vh;
  background-color: rgb(57,46,70);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.active{
  opacity: 0;
  
}
.navbar{
  font-size: 30px;
}
.tweets-container{
  background-color: royalblue;
  padding-left: 10px;
}
.tweet-style{
  background-color: black;
  padding: 5px;
  margin-bottom: 5px;
}
.tweet-style h1{
  font-size: 30px;
  color: blueviolet;
}
.tweet-style h2{
  font-size: 20px;
  color: aquamarine;
}